:root {
    --main-color: #FF9800;
    --main-transition: 0.3s;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
/* Start Settings Box */
.settings-box {
    position: fixed;
    left: -230px;
    top: 0;
    background-color: #000000f5;
    width: 230px;
    z-index: 1000;
    min-height: 100vh;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.settings-box.open {
    left: 0;
}
.settings-box .toggle-settings {
    position: absolute;
    right: 0;
    top: 100px;
    background-color: #000000f5;
    text-align: center;
    right: -30px;
    cursor: pointer;
}
.settings-box .toggle-settings .sett-icon {
    width: 30px;
    padding: 8px 0;
    color: white;
}
.settings-box .settings-container .option-box {
    padding: 15px 0 8px;
    text-align: center;
    background-color: black;
    border: 1px solid #121212;
    margin: 15px 13px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.settings-box .settings-container .option-box h4 {
    margin: 0;
    color: white;
    font-weight: 400;
    font-size: 15px;
}
.settings-box .settings-container .option-box .colors-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 15px 0 10px;
}
.settings-box .settings-container .option-box .colors-list li {
    display: inline-block;
    margin-left: 4px;
    width: 25px;
    height: 25px;
    background-color: #333;
    opacity: .5;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.settings-box .settings-container .option-box .colors-list li.active {
    opacity: 1;
    border: 2px solid #cfcfcf;
}
.settings-box .settings-container .option-box .colors-list li:first-child {
    background-color: #FF9800;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(2) {
    background-color: #3f51b5;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(3) {
    background-color: #009688;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(4) {
    background-color: #ffeb3b;
}
.settings-box .settings-container .option-box .colors-list li:last-child {
    background-color: #f44336;
}
.settings-box .settings-container .option-box .random-background {
    margin: 5px 0 7px;
}
.settings-box .settings-container .option-box .random-background .yes,
.settings-box .settings-container .option-box .random-background .no {
    width: 50px;
    background-color: #333;
    color: white;
    display: inline-block;
    margin: 10px 0 5px;
    font-size: 12px;
    padding: 5px 10px;
    font-weight: bold;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.settings-box .settings-container .option-box .random-background .yes {
    background-color: var(--main-color);
    margin-right: 3px;
}
.settings-box .settings-container .option-box .random-background .no {
    background-color: var(--main-color);
    margin-left: 3px;
}
.settings-box .settings-container .option-box .random-background span.active {
    opacity: 1;
}
/* End Settings Box */
/* Start Landing Page */
.landing-page {
    position: relative;
    min-height: 100vh;
    background-image: url(/imgs/01.jpg);
    background-size: cover;
}
.landing-page .overlay {
    background-color: rgb(0 0 0 / 80%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.landing-page .header-area {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.landing-page .header-area .logo {
    width: 300px;
    padding: 15px;
    font-weight: 800;
    font-size: 25px;
}
.landing-page .header-area .links {
    list-style: none;
    width: 100%;
    padding-left: 0;
    padding-right: 20px;
    text-align: right;
}
.landing-page .header-area .links li {
    display: inline-block;
    margin-left: 30px;
}
.landing-page .header-area .links li a {
    text-decoration: none;
    color: white;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.landing-page .header-area .links li a:hover,
.landing-page .header-area .links li a.active {
    color: var(--main-color);
}
.landing-page .introduction-text {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.landing-page .introduction-text h1 {
    font-size: 35px;
    margin: 0 0 12px;
}
.landing-page .introduction-text h1 span {
    color: var(--main-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.landing-page .introduction-text p {
    line-height: 1.5;
    font-size: 18px;
    margin: auto;
    width: 85%;
}
/* End Landing Page */
/* Start About Us */
.about-us {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us .info-box {
    flex: 1;
    padding: 30px;
}
.about-us .info-box h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 10px;
}
.about-us .info-box p {
    width: 500px;
    line-height: 1.8;
    color: #767676;
    margin: 0;
}
.about-us .image-box {
    flex: 1;
    text-align: center;
}
.about-us .image-box img {
    width: 350px;
}
/* End About Us */
/* Start Skills */
.skills {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.skills h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
}
.skills .skill-box {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
}
.skills .skill-box .skill-name {
    width: 150px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
}
.skills .skill-box .skill-progress {
    position: relative;
    height: 30px;
    width: 100%;
    background-color: #e7e7e7;
    overflow: hidden;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.skills .skill-box .skill-progress span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
/* End Skills */
/* Start Gallery */
.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
}
.gallery h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
}
.gallery .images-box {
    text-align: center;
}
.gallery .images-box img {
    width: 200px;
    height: 120px;
    background-color: #f6f6f6;
    padding: 3px;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}
.popup-overlay {
    position: fixed;
    background-color: rgb(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.popup-box img {
    max-width: 100%;
}
/* End Gallery */